<h3>Информация по сделке:</h3>
<ul id="deals_list">
	<li ng-repeat="item in dealsItems">
		<label class="control control--checkbox"><span class="label label-success" ng-show="item.garant_contract">В процессе исполнения</span>
		Кадастровый номер объекта: {{item.name}}
			<a href="" class="text-success btn btn-default" ng-click="approve()" ng-hide="item.garant_contract">принять</a>
	 	   	<a href="" class="text-danger btn btn-default delete-icon" ng-click="rejectItem($index)">удалить</a>
	   </label>
	</li>
</ul>